body{
    background-image: linear-gradient(to left,rgba(196, 100, 32, 0.823),pink);
    text-align: center;
    margin-top: 200px;
}
h2{
    color: blue;
}
label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: darkmagenta;
    text-shadow: 1px 1px 0px red; 
}
button{
    color: darkmagenta;
    background-color: lightgreen;
    font-style: oblique;
    font-size: 20px;
}